In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

### TUPLE
#### 1. Immutable
#### 2. using () elements are seperated by ,
#### 3.Indexed, Ordered

In [3]:
#Tuple
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [4]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [5]:
lis = list(tup1)
lis[2] = 100
tuple(lis)

(12, 3, 100, 'abc', True)

#### Built-in methods:
#### 1.count()
#### 2. index()

In [6]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [7]:
#unpacking
tup2 = (12,234,4,354)
a,b,c,d = tup2
print(d)

354

In [8]:

#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [9]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [10]:
#iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

##### set:
     1.{ }
     2.Does not allow duplicate values
     3.not ordered
     4.unindexed
     5.mutable

In [13]:
set1 = {1,2,334,45,5,6,2,1}
print((set1))

{1, 2, 5, 6, 45, 334}

In [14]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

##### Built-in functions:
    1.len()
    2.min()
    3.max()
    4.set()

In [15]:

print(set1)
print(len(set1))
print(max(set1))
print(min(set1))

{1, 2, 5, 6, 45, 334}
6
334
1

In [16]:

#removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in methods:
    -Adding an element:
    -add()
    -Removing an element:
    -pop()
    -remove()
    -discard()
    -clear()

In [17]:
set2 = set()
print(type(set2))

<class 'set'>

In [18]:

set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [19]:
set2.pop()

100

In [20]:
set2.remove(12)

In [21]:
set2

{23}

In [22]:
set2.discard(12)

In [23]:
set2.clear()
set2

set()

In [24]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U B ==> {1,2,3,4,5,6,7}
print(A.union(B))
# A - B ==> {1,2}
print(A.difference(B)) #A-B
print(B.difference(A)) #B-A
#intersection of A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [25]:
#subset,super set,disjoint
#symmetric difference
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [26]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [27]:
#Symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [30]:
A.union(B)==> {1,2,3,4,5,6,7}
A ==> {1,2,3,4,5}
B ==> {3,4,5,6,7}
===================
A ==> {1,2,3,4,5,6,7}
B ==> {3,4,5,6,7}

SyntaxError: invalid syntax (<ipython-input-30-f8283b4bc601>, line 1)

### Dictionary:
dictionary name = {key1:value1,key2:key2,.....}

Rules:

keys should be unique
keys should be immutable (example: numerics,string,tuple)

In [31]:

#creating a dictionary
dict1 = {"name":"VIKAS","roll no":35,"address":"hyd"}
print(dict1)

{'name': 'VIKAS', 'roll no': 35, 'address': 'hyd'}

In [32]:

#Extracting an element
print(dict1["roll no"])

35

In [33]:

#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'VIKAS', 'roll no': 35}

In [34]:
#adding an entry
dict1["course"] = "python"
print((dict1))

{'name': 'VIKAS', 'roll no': 35, 'course': 'python'}

### Built-in methods:
    1.keys()
    2.items()

In [35]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'roll no', 'course'])
dict_values(['VIKAS', 35, 'python'])
dict_items([('name', 'VIKAS'), ('roll no', 35), ('course', 'python')])

In [36]:
#Extracting an entry
print(dict1["name"])
print(dict1.get("name"))

VIKAS
VIKAS

In [37]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'VIKAS', 'roll no': 35, 'course': 'python', 'address': 'hyd'}

In [38]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'VIKAS', 'roll no': 35, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [39]:
#removing an entry ==> pop(),popitem()
dict1.pop("name")
dict1

{'roll no': 35, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [40]:
dict1.popitem()

(3, 3)

In [41]:
dict1

{'roll no': 35, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}