**Session(11-06-20)**

In [0]:
import pandas as pd

In [0]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

In [0]:
st=[311,6]
def place(st):
  if st[1]>6:
    return "yes"
  else :
    return "no"
place(st)

'no'

In [0]:
Numpy array 1000*2

Machine learning

**Algorithm,Model**


*   Decision Tree Classifier

*   Available DTC

- fit(features,target)/fit(inputs,outputs)
     - Communication
     - Placed
    - features  ->2d array
    - placed    ->1d array
- predict

In [0]:
placement_data[["Communication","Placed"]]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [0]:
placement_data[["Communication"]]

   Communication
0              7
1              6
2              5
3              8
4              9

In [0]:
import sklearn # ml algorithm
from sklearn.tree import DecisionTreeClassifier #DTC
dtc = DecisionTreeClassifier()
#training model 
dtc.fit(placement_data[["Communication"]],placement_data["Placed"])
#after running this code we get a trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
dtc.predict(placement_data[["Communication"]])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [0]:
dtc.predict([[9]])

array(['Yes'], dtype=object)

In [0]:
dtc.predict([[9],[3],[6]])

array(['Yes', 'No', 'No'], dtype=object)

**LABELED AND UNLABELLED DATA**
- ALONG WITH PLACED COLUMN
- WITHOUT PLACED COLUMN

In [0]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [0]:
marks_data.iloc[:,1:3]

   Internal Marks  Marks
0              25   72.5
1              30   85.0
2              18   55.0
3              15   47.5

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#training
lr.fit(marks_data.iloc[:,1:3],marks_data2["Marks"])
#trained

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**y=m1x1 + m2x2 + c**

predict m1,m2,c

In [0]:
lr.coef_

array([0.31484258, 0.78710645])

In [0]:
lr.intercept_

10.911544227886026

In [0]:
lr.predict(marks_data2.iloc[:,1:3])

array([20.35682159, 21.14392804, 18.15292354, 17.99550225])

In [0]:
marks_data2["Marks"]

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64